<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FpmsConfigMngrService</servlet-name>
        <servlet-class>com.fpms.server.service.FpmsConfigMngrServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductMngrService</servlet-name>
        <servlet-class>com.fpms.server.service.ProductMngrServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExpensesMngrService</servlet-name>
        <servlet-class>com.fpms.server.service.ExpensesMngrServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockMngrService</servlet-name>
        <servlet-class>com.fpms.server.service.StockMngrServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfitMngrService</servlet-name>
        <servlet-class>com.fpms.server.service.ProfitMngrServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FpmsConfigMngrService</servlet-name>
        <url-pattern>/com.fpms.fpmsclient/service/fpmsconfigmngrservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductMngrService</servlet-name>
        <url-pattern>/com.fpms.fpmsclient/service/productmngrservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExpensesMngrService</servlet-name>
        <url-pattern>/com.fpms.fpmsclient/service/expensesmngrservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockMngrService</servlet-name>
        <url-pattern>/com.fpms.fpmsclient/service/stockmngrservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfitMngrService</servlet-name>
        <url-pattern>/com.fpms.fpmsclient/service/profitmngrservice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>fpms.html</welcome-file>
    </welcome-file-list>
</web-app>
